<h1>Network: <%= @network.name %></h1>

<%= properties_table @network do
  property :id, label: 'ID'
  property :created_at, label: 'Created' do |v, _o|
    "#{time_ago_in_words(v)} ago"
  end
end %>

<h2>Bots in this network</h2>
<% @network.bots.each do |b| %>
  <%= render 'bots/bot', bot: b, include_modals: false %>
<% end %>

<%= render 'bots/edit_info_modals' %>