<h1>Topic: <%= @hashtag.name %></h1>

<%= properties_table @hashtag do
  property :id, label: 'ID'
  property :created_at, label: 'Created' do |v, _o|
    "#{time_ago_in_words(v)} ago"
  end
end %>

<h2>Bots involved in this topic</h2>
<% @hashtag.bots.each do |b| %>
  <div class="bordered-li">
    <%= link_to b.username, bot_path(b) %>
  </div>
<% end %>