<% id ||= '' %>
<% title ||= 'The Title' %>
<% form_id ||= "#{id}Form" %>
<% submit_btn = "Submit" if submit_btn.nil? %>

<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= yield %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag submit_btn, class: 'btn btn-primary', form: form_id if submit_btn %>
      </div>
    </div>
  </div>
</div>
